@model IEnumerable<Quanli.Models.SubjectToCourse>
@{
    ViewBag.Title = "AddCourse";
}


<h2>Choose subject</h2>
@using (Html.BeginForm())
{
    int TraineeId = ViewBag.traineeId;
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Add</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var course in Model)
            {
                <tr>
                    <td>@course.Course.Name - @course.Subject.name</td>
                    <td>@Html.ActionLink("Add", "Add", "TraineeAccount", new { traineeId = TraineeId, subjectToCourseId = course.Id }, null)</td>
                </tr>
            }

        </tbody>
    </table>
}

@*Html.ActionLink("Create new Customer", "New", "Customers")*@

