@model IEnumerable<Quanli.Models.SubjectToCourse>
@{
    ViewBag.Title = "SubjectList";
}

<h2>SubjectList</h2>
@using (Html.BeginForm())
{
    var SCID = ViewBag.subjectToCourseId;
    int trainerId = ViewBag.trainerId;
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Subject Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var subjectList in Model)
            {
                foreach (int i in SCID)
                {
                    if (i == subjectList.Id)
                    {
                        <tr>
                            <td>@subjectList.Course.Name - @subjectList.Subject.name </td>
                        </tr>
                    }
                }

            }

        </tbody>
    </table>
    @Html.ActionLink("Add new course", "AddCourseForm", "ManangerAccount", new { id = trainerId }, null)
}


